{% extends 'implants/base.html' %}

{% block content %}
<div class="flowers">
    <header>
        АКЦИЯ: ИСПОЛЬЗУЙ ЗАПРАВОЧНУЮ СКИДОЧНУЮ КАРТУ НАЙТ-СИТИ И ПОЛУЧИ РАЗРЫВНЫЕ ПАТРОНЫ В ПОДАРОК!
    </header>

    {% include 'implants/open_menu_index.html' %}
    {% block menu %}
    {% endblock %}
    <h3 class='about-us' id='description'>Немного о нашем скромном магазинчике....</h3>
    <p class='description'>

        Добро пожаловать в {{ shopname }}, идеальное место для всех, что связано с киберпанком! Мы специализируемся на
        предоставлении широкого выбора передового киберпрограммного обеспечения, мощного вооружения, стильной одежды и
        футуристических транспортных средств. Зайдите в наш виртуальный торговый центр и погрузитесь в мир, где
        технологии сочетаются со стилем.<br><br>

        В {{ shopname }} мы понимаем потребности современного энтузиаста киберпанка. Расширьте свои способности и улучшите
        свое тело с помощью наших новейших кибер-имплантов, предлагающих ряд улучшений, которые расширят ваши
        возможности и дадут вам конкурентное преимущество в условиях разрастания городов будущего.<br><br>

        Вооружитесь к любой встрече с нашей обширной коллекцией оружия: от изящных и смертоносных пистолетов до мощного
        огнестрельного оружия. Наш арсенал тщательно подобран с учетом взыскательных вкусов кибер-самураев, наемников и
        повстанцев.<br><br>

        Заявите о себе с помощью нашей модной и функциональной одежды. Наша одежда в стиле киберпанк сочетает в себе
        форму и функциональность, позволяя вам выразить свою индивидуальность, оставаясь защищенными на освещенных
        неоновым светом улицах. От футуристической уличной одежды до тактического снаряжения — у нас есть все
        необходимое для создания вашего фирменного стиля.<br><br>

        Для тех, кто ищет непревзойденную езду, наш ассортимент футуристических автомобилей заставит вас затаить
        дыхание. Предпочитаете ли вы изящные суда на воздушной подушке, бронированные мотоциклы или
        высокопроизводительные киберкары, у нас есть идеальные колеса, которые подойдут вашему стилю и отправят вас в
        захватывающие приключения по огромному мегаполису.<br><br>

        В {{ shopname }} мы гордимся тем, что поставляем качественные продукты, которые воплощают суть образа жизни
        киберпанка. Наша опытная команда специалистов стремится обеспечить исключительное обслуживание клиентов,
        гарантируя, что вы найдете идеальное киберпрограммное обеспечение, оружие, снаряжение или транспортное средство,
        соответствующее вашим потребностям.<br><br>

        Окунитесь в будущее и раскройте свой истинный потенциал в {{ shopname }}. Улучшайте свой мир, по одному
        кибернетическому усовершенствованию за раз.<br><br>

    <ul class='list_flowers'>
        {% for menu in menus %}
        <li><b>{{ menu.category }}</b>: {{ menu.description }}</li>
        {% endfor %}
    </ul>
    </p>
</div>
{% endblock%}